.link{
    position: relative;
    left: 600px;
    top: -100px;
}

.link2{
    position: relative;
    right: -70px;
    top: -55px;
}

.paginainicial{
    position: relative;
    left: 390px;
    top: -200px;
}

.serv{
    position: relative;
    left: 600px;
    bottom: -250px;
}

.titulo{
    position: relative;
    bottom: 100px;
}

.paragrafo{
    position: relative;
    bottom: 100px;
}

.linha2{
    position: relative;
    bottom: 100px;
}